<div class="container">
    <div class="card" style="width: 50rem;">
        <div class="card-header">
            <h1><%=@monstruo.nombre%></h1>
            <h3> <%=@monstruo.descripcion%>  </h3>
        </div>
        <div class="card-body">
            <h3 class="card-title">Tweets de <%=@monstruo.nombre%></h3>
        
            <%@monstruo.tweets.each do |t|%>
                <p class="list-group-item"> <b><i> <%=t.estado%></i> </b> </p>
            <%end%>
            <%=link_to "Volver",monstruos_path%>
            <!---
            <%if @monstruo.tweets.empty?%>
                <p> No se han encontrado monstruos </p>
            <%end%>
            --->
        </div>
    </div>
</div>
