
<h1> Listado de victimas! </h1>
<table class="table">

	<tr>
		<th> Nombre </th>
		<th> Edad </th>
		<th> Monstruo </th>
	</tr>

	<% @victimas.each do |vic| %>
		<tr>
			<td> <%= link_to vic.nombre, victimas_path %> </td>
			<td> <%= vic.edad %> </td>
			<td> <%=vic.monstruo.nombre%> </td>
		</tr>
	<% end %>

	<% if @victimas.size == 0 %>
		<tr> <td colspan="3"> No hay monstruos </td> </tr>
	<% end %>

</table>